# Copyright (C) 2012 Richard Burnison
#
# This file is part of tasksync.
#
# tasksync is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# tasksync is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with tasksync.  If not, see <http://www.gnu.org/licenses/>.

#pylint: disable=C0103,C0111,W0142
import os
import errno
import tasksync
from twiggy import log

#TODO: Clean up configuration.
home = os.path.join(os.environ['HOME'], '.tasksync')
try:
    os.makedirs(home)
except OSError, e:
    if e.errno != errno.EEXIST:
        raise

providers = {
    'taskwarrior':{
        'config':os.path.join(os.environ['HOME'], '.taskrc')
    },
    'google':{
        'credential_storage':os.path.join(home, 'google.oauth'),
        'client_id':'###',
        'client_secret':'###',
        'task_list_filter':lambda name: True,
    }
}


# Executions
__google_task_factory = tasksync.GoogleTaskFactory()
__google_task_repository = tasksync.GoogleTaskRepository(
        __google_task_factory, **providers['google'])

__tw_task_factory = tasksync.TaskWarriorTaskFactory()
__tw_task_repository = tasksync.TaskWarriorTaskRepository(
        __tw_task_factory, **providers['taskwarrior'])

def __tw2gt_upstream(dtask, utask):
    """
    Allows for pre-sync modifications. A negative return indicates
    that the task should not be synced.
    """
    if utask.list_name is None:
        utask.list_name = '@default'
    return True

def __tw2gt_downstream(utask, dtask):
    """
    Allows for pre-sync modifications. A negative return indicates
    that the task should not be synced. You may use this to map UDA
    types.
    """
    return True

executions = {
    # Task Warrior to Google Tasks
    'tw2gt':{
        'upstream':{
            'factory':__google_task_factory,
            'repository':__google_task_repository,
            'cb':__tw2gt_upstream,
            'delete_orphans':False
        },
        'downstream':{
            'factory':__tw_task_factory,
            'repository':__tw_task_repository,
            'cb':__tw2gt_downstream,
            'delete_orphans':True
        },
    }
}
